# Core build tools

setuptools
wheel
Flask
Flask-WTF
Flask-SQLAlchemy
Flask-PyMongo
flask_login
flask_migrate
authlib
alembic
flask_mail
Werkzeug
pymongo
gunicorn
python-dotenv
requests
numpy
pandas
opencv-python
opencv-python-headless
Werkzeug
flask_pymongo
bson
json
base64


