# Core build tools

setuptools
wheel
Flask
Flask-WTF
Flask-SQLAlchemy
Flask-PyMongo
flask_login
flask_migrate
Werkzeug
pymongo
gunicorn
python-dotenv
requests
numpy
pandas
opencv-python
opencv-python-headless
Werkzeug



